@import "_variables.scss";
@import "_reset.scss";
@import "_mixin.scss";

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: $black;
}



  
  h2 {
    font-size: 16px;  
  }
  
  
  .add-employee-container {
    width: 90%;
    margin: auto;

    h1 {
      color: $blue;
      margin: 25px 0;
      display: flex;
      justify-content: center;
      font-size: 30px
    }

  }

  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a span{
      margin: 25px 0;
      line-height: 32px;
      display: flex;
      border: 1px solid $blue;
      padding: 15px;
      color: $blue;
      &:hover{
        font-weight: bold;
        color: $white;
        background-color:$blue 
      }
    }
    .search-employee-input-container {
      display: flex;
      flex-direction: column;
      input {
        border: 1px;
        border-color: $grey;
        width: 400px;
        border-radius: 8px;
        border-style: solid;
        padding: 10px;
        font-size: 14px;
        height: 40px;
        box-sizing: border-box;
        margin: 0 10px;
        color: $black;
        font-family: "Raleway", sans-serif;
        &::placeholder {
          color: $grey;
        }
       }
      }
        .search-employee-btn {
          background-color: $blue;
          padding: 10px 12px;
          background-size: 18px, 18px;
          color: $white;
          font-weight: bold;
          
  
        }
  }

.main-container {
  margin: 30px 30px;

 
.search-result {
  display: none;
}
    .title-row{
      ul li {
        width: 200px;
        height: 30px;
      }

    }    
    .employeeList{
        background-color:$grey;
        border-radius: 5px;
        margin: 10px auto;
        padding: 10px 0; 
        display: flex;
        justify-content: space-evenly;
        li {
          width: 200px;
          height: 30px;
          text-align: left;
          padding: 0 10px;
          display: flex;
          align-content: center;
          overflow: hidden;

         }
          .employeeActions{
           display: flex;
           justify-content: space-evenly
            }
    }
    .deleteBtn {
      @include btn-all(30px, 30px, url("images/trash.png") );
      margin-left: 15px;
   
   }
   .checkBtnColor {
    @include btn-all(30px, 30px, url("images/editBtn.png") );
    
}
  
  }

  
  //MODAL

.modal{
  display:none;
}

.activeModal{
  background-color: rgba(144, 194, 253, 0.6);
  width: 100%;
  top:0;
  position:fixed;
  .contain-modal-select{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  .modal-select{
      background-color: #FFFFFF;
      width: 40%;
      padding: 50px 20px;
      .closeModal{
          float: right;
          text-decoration: none;
          color: #000;
          font-weight: bold;
      }
      .closeModal:hover{
          cursor: pointer;
      }
      .formStyle{
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (min-width: 320px) and (max-width: 480px){
        width: 90%;
    
        }
        input{
            width: 100%;
            height: 40px;
            margin-top: 2%;
            border-radius: 5px;
            border: none;
            padding: 2%;
            font-size: 0.8em;
            font-family: 'IBM Plex Sans', sans-serif;
          }
        }
      .container-add{
          width: 90%;
          margin: 10px auto;
          #add{
              width: 100%;
              @include btnStyles;
              background-color: rgb(70, 104, 126);
          }
          #add:hover{
              @include stylesHover;
          }
      }
      .container-confirm{
          width: 90%;
          margin: 0 auto;
          #button{
              float:right;
              width:100%;
              @include btnStyles;
          }
          #button:hover{
              @include stylesHover;
          }
      }
     
  }
}