html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  color: #333333;
}

h2 {
  font-size: 16px;
}

.add-employee-container {
  width: 90%;
  margin: auto;
}
.add-employee-container h1 {
  color: #0099ff;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-container a span {
  margin: 25px 0;
  line-height: 32px;
  border: 1px solid #0099ff;
  padding: 15px;
  color: #0099ff;
}
.header-container a span:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: #0099ff;
}
.header-container .search-employee-input-container {
  display: flex;
  flex-direction: column;
}
.header-container .search-employee-input-container input {
  border: 1px;
  border-color: #c7c7c7;
  width: 400px;
  border-radius: 8px;
  border-style: solid;
  padding: 10px;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  color: #333333;
  font-family: "Raleway", sans-serif;
}
.header-container .search-employee-input-container input::placeholder {
  color: #c7c7c7;
}
.header-container .search-employee-btn {
  background-color: #0099ff;
  padding: 10px 12px;
  background-size: 18px, 18px;
  color: #ffffff;
  font-weight: bold;
}

.main-container {
  margin: 30px 30px;
}
.main-container .search-result {
  display: none;
}
.main-container .title-row ul li {
  width: 200px;
  height: 30px;
}
.main-container .employeeList {
  background-color: #c7c7c7;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}
.main-container .employeeList li {
  width: 200px;
  height: 30px;
  text-align: left;
  padding: 0 10px;
  display: flex;
  align-content: center;
  overflow: hidden;
}
.main-container .employeeList .employeeCheckBox {
  width: 20px;
  display: flex;
  align-items: center;
}
.main-container .employeeList .employeeActions {
  display: flex;
  justify-content: space-evenly;
}
.main-container .deleteBtn {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  border: 0;
  background-position: center;
  border-radius: 50%;
  background-image: url("images/trash.png");
  float: right;
  margin-left: 15px;
}
.main-container .deleteBtn:hover {
  background-color: #ffffff;
  border: 1px solid #0099ff;
}
.main-container .checkBtnColor {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  border: 0;
  background-position: center;
  border-radius: 50%;
  background-image: url("images/editBtn.png");
  float: right;
}
.main-container .checkBtnColor:hover {
  background-color: #ffffff;
  border: 1px solid #0099ff;
}

.modal {
  display: none;
}

.activeModal {
  background-color: rgba(144, 194, 253, 0.6);
  width: 100%;
  top: 0;
  position: fixed;
}
.activeModal .contain-modal-select {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.activeModal .modal-select {
  background-color: #FFFFFF;
  width: 40%;
  padding: 50px 20px;
}
.activeModal .modal-select .closeModal {
  float: right;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.activeModal .modal-select .closeModal:hover {
  cursor: pointer;
}
.activeModal .modal-select .formStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .activeModal .modal-select .formStyle {
    width: 90%;
  }
}
.activeModal .modal-select .formStyle input {
  width: 100%;
  height: 40px;
  margin-top: 2%;
  border-radius: 5px;
  border: none;
  padding: 2%;
  font-size: 0.8em;
  font-family: "IBM Plex Sans", sans-serif;
}
.activeModal .modal-select .container-add {
  width: 90%;
  margin: 10px auto;
}
.activeModal .modal-select .container-add #add {
  width: 100%;
  background-color: #015E9A;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #46687e;
}
.activeModal .modal-select .container-add #add:hover {
  background-color: #FFFFFF;
  color: #015E9A;
}
.activeModal .modal-select .container-confirm {
  width: 90%;
  margin: 0 auto;
}
.activeModal .modal-select .container-confirm #button {
  float: right;
  width: 100%;
  background-color: #015E9A;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
.activeModal .modal-select .container-confirm #button:hover {
  background-color: #FFFFFF;
  color: #015E9A;
}

/*# sourceMappingURL=styles.css.map */
